
* {
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px ;
}

body, h1, h2, h3, h4, h5, ul, ol, p {
    margin: 0;
    padding: 0;
}


:root {
    --footer-height: 40px;
    --btn-bg-color: #47fcc0;
    --btn-bg-color-hover: #109569;
    --btn-text-color: #fff;
}

.page {
    background-image: url(../assets/images/bg.png);
    min-height: 100vh;
    min-width: 100vw;
    background-size: 100%;
    position: relative;
    }
.page-content {
    position: relative;
    min-height: calc(100vh - var(--footer-height));
    
}
.page-footer {
    height: var(--footer-height);
    text-align: center;
}

.message-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
    width: 537px;
    }
.animated-img {
    position: absolute;
    width: 80px;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.animated-img-1 {
    top: -50px;
    left: -50px;
    animation-delay: 1s;
}
.animated-img-4 {
    top: 280px;
    left: -120px;
    animation-delay: 1s;
}
.animated-img-3 {
    top: -60px;
    left: -120px;
    animation-delay: 1s;
}
.animated-img-4 {
    top: -50px;
    left: -50px;
    animation-delay: 1s;
}

@keyframes rotate {
    0% {
       transform: rotate(0deg);
    }
   25% {
        transform: rotate(90deg);
     }
     50% {
        transform: rotate(180deg);
     }
     75% {
        transform: rotate(270deg);
     }
     100% {
        transform: rotate(360deg);
     }

}
        
    

.message-block__heading {
    font-size: 90px;
    line-height: 103px;
    color: #000;
    text-transform: uppercase;
}
.message-block__description {
    
    font-size: 19px;
    line-height: 22px;
    width: 80%;
    margin: 62px auto;
}
.message-block__action-btn {
    width: 268px;
    height: 57px;
    background-color: var(--btn-bg-color);
    border: 1px solid var(--btn-bg-color);
    color: var(--btn-text-color);
    font-size: 23px;
    line-height: 26px;
    margin-top: 19px;
    transition: all 0.5s;
}
.message-block__action-btn:hover {
    --btn-bg-color: var(--btn-bg-color-hover);
}




